<!-- Outer box -->
<div class="form-style-8">
  <h2 class='acquia-blue'>Let's create your Event!</h2>
  <form method="POST" action='/events/create' style='color: black;'>
    <div class='form-group has-feedback'>
      <input type="text" name="title" id='title_input' placeholder="Title" />
      <i style='color: gray;' class='glyphicon glyphicon-pencil form-control-feedback'></i>
    </div>

    <div class='form-group has-feedback'>
      <input type="text" name="location" id='location_input' placeholder="Location" />
      <i style='color: gray;' class='glyphicon glyphicon-map-marker form-control-feedback'></i>
    </div>

    <div class='form-group has-feedback'>
      <input type="text" name="name" id='name_input' placeholder="Your Name" />
      <i style='color: gray;' class='glyphicon glyphicon-user form-control-feedback'></i>
    </div>

    <div class='form-group has-feedback'>
      <input type="text" name="email" id='email_input' placeholder="Your Email" />
      <i style='color: gray;' class='glyphicon glyphicon-envelope form-control-feedback'></i>
    </div>

    <div class='form-group has-feedback'>
      <div class='input-group date' id='datetimepicker'>
        <input type='text' class="form-control" name='date' id='date_input' placeholder='Date'/>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>

    <input type="submit" value="Create!" />
  </form>
</div>

<script type="text/javascript">
  $(function () {
      $('#datetimepicker').datetimepicker({
            format: 'ddd, MMM d, YYYY - hh:mm A',
      });
  });
</script>
