<section id="add">
  <form action="/" method="post">
    <textarea name="content" placeholder="Item name"></textarea>
    <input type="checkbox" name="required" value=true> Required
    <input type="submit" value="Save item">
  </form>
</section>

<% @items.each do |item| %>
  <%= item.id %> <br>
  <%= item.name %> <br>
  <%= item.required %> <br>
  <span><a href="/item/<%=item.id %>">[view]</a></span>
<% end %>
